<table class="inventory_table" id="inventory_table">
    <tr class="inventory_tablerow_header">
        <th class="inventory_header"><span class="headertext" id="product">Produkt</span></th>
        <th class="inventory_header"><span class="headertext" id="amount">Antal</span> </th>
        <th class="inventory_header"><span class="headertext" id="price">Pris</span> </th>
        <th id="inventory_table_reservedamount" class="inventory_header"><span class="headertext" id="reservedamount">Reserveret Antal</span> </th>
        <th class="inventory_header"><span class="headertext" id="categories">Kategorier</span> </th>
        <th class="inventory_header"> <span class="headertext">Rediger</span> </th>

    </tr>
    {{#each product}}
        <tr class="inventory_tablerow_data" id="inventory_tablerow_data" >
            <td class="inventory_tabledata"> {{this.name}} </td>
            <td class="inventory_tabledata_num"> {{this.amount}} </td>
            <td class="inventory_tabledata_num"> {{this.price}} </td>
            <td class="inventory_tabledata_num"> {{this.reservedAmount}} </td>
            <td class="inventory_tabledata"><ul class="inventory_categories">
                {{#each this.categories}}
                    {{#if this}}
                        <li class="inventory_categories_elements">{{this}}</li>
                    {{/if}}
                {{/each}}
            </ul></td>
            <td class="inventory_tabledata_edit">
                <img title="Rediger" class="edit_icons icon_edit" id="{{this._id}}" src="../imgs/edit.png">
                <img title="Slet" class="edit_icons icon_bin" id="{{this._id}}" src="../imgs/bin.png">
            </td>
        </tr>
    {{/each}}
</table>