<!--<script src="/scripts/calcDifference"></script>-->
{{#each product}}
        <div class="products-content">
            <a href="product.html?{{this._id}}">
                <div class="product-picturebox">
                    <img class="product-picture" src="/uploads/{{this.pictures.[0]}}.jpg">
                    <div class="bottomleft"><p class="product-name">{{this.name}}</p></div>
                </div>
            </a>
            <div class="products-price-reservation">
                {{#if this.discount}}
                    <div>
                        <p class="price">{{minus this.price this.discount}} kr.</p>
                    </div>
                    <div>
                        <p class="discount">{{this.price}} kr.</p>
                    </div>
                {{else}}
                    <div>
                        <p class="price">{{this.price}} kr.</p>
                    </div>
                    <div>
                        <p class="discount"></p>
                    </div>
                {{/if}}

                {{#if this.unique}}
                    <div>
                        <a class="reservation" data-product="{{this.name}}" href="#">Reservér</a>
                    </div>
                {{/if}}
            </div>
        </div>
{{/each}}